*{
    box-sizing: border-box;
}
.container {
width: 100%;
height: 100vh;

}
.container .header {
    width: 100%;
    height: 6%;
    display: flex;
    
    
}
.container .main{
    width: 100%;
    height: 94%;
    display: flex;
    align-items: center;
}
.main .left-main {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    float: left;
}
.main .mid{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.main .right-main{
    width: 20%;
    height: 100%;
    border: 1px solid black;
    float: left;
}
.left-main .up {
    width: 100%;
    height: 55%;
}
.left-main .down {
    width: 100%;
    height: 45%;
}
.mid .story {
    width: 60%;
    height: 20%;
    border: 1px solid black;
    margin: 10px 0;
}
.mid .status{
    width: 60%;
    height: 10%;
    border: 1px solid black;
    margin: 10px 0;
}
.mid .newfeeds{
    width: 60%;
    height: 70%;
    border: 1px solid black;
    margin: 10px 0;
}

.right-main .top{
    width: 100%;
    height: 10%;
    border: 1px solid black;
}
.right-main .bottom{
    width: 100%;
    height: 90%;
    border: 1px solid black;
}
.header .logo img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 0 10px;
    float: left;
}
.header .search input{
    width: 250px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    text-align: center;
    margin-right: 290px;
    
}
.header .phimtat {
    width: 35%;
    height: 100%;
    float:  left;
    display: flex;
    justify-content: center;
    margin-right: 380px;
}
.phimtat .item img{
    width: 50px;
    height: 50px;
    margin: 0 40px;
}
.header .infor{
    width: 13%;
    height: 100%;
    display: flex;
}
.infor .item img{
    width: 50px;
    height: 50px;
    margin: 0 4px;
    border-radius: 25px;
}
.left-main .up .item{
    width: 100%;
    height: calc(100%/9);
}
.up .item .logo img{
    width: 45px;
    height: 45px;
    border-radius: 25px;
    float: left;
    margin-right: 10px;
    
}
.up,.down .item .name{
    width: 150px;
    height: 50px;
    float: left;
}
.left-main .down .item{
    width: 100%;
    height: calc(100%/6);
}
.down .item .logo img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    border: 1px solid black;
}
.main .mid .item{
    width: calc(100%/5);
    height: 100%;
    border: 1px solid black;
    float: left;
}
.main .mid .status .logo img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    margin: 10px;
    float: left;
    align-items: center;
}
.status input{
    width: 500px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px 0;
}



@media only screen and (max-width: 1000px) { 
    .left-main {
        display: none; 
    }
    .main .mid {
        width: 100%; 
    }
    .header {
        width: 100%; 
    }
}